* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;

	background: transparent;

	font-family: inherit;

	text-decoration: none;

	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #138073;
}

#root {
	position: relative;
}

.title {
	font-size: 24px;
	letter-spacing: 0.2em;
	font-weight: 900;
}

form {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;

	input {
		display: block;
		width: 100%;
		height: 64px;
		padding-left: 20px;
		background-color: white;
		border: 1px solid grey;

		&[type='text']::placeholder,
		&[type='email']::placeholder {
			// ez sehogy sem működik!!!!!!!
			color: #138073;
			opacity: 1;
		}

		&[type='checkbox'] {
			margin: auto 0;
			display: inline;
			width: 20px; // mitől responziv ez a két méret?????
			height: 20px;
		}
	}

	.checkCont {
		display: flex;

		label {
			display: inline;
			margin-left: 15px;
			font-weight: 600;

			spam.dataCkeck {
				text-decoration: underline;
				font-weight: 600;
			}
		}
	}

	button {
		padding: 2em 5em;
		background-color: #39b69f;
		border: none;
		margin: 20px;

		font-size: 12px;
		letter-spacing: 0.2em;
		color: white;
	}
}

@media screen and (max-width: 480px) {
	body {
		background-color: #e6e6e6;

		.title {
			align-self: flex-end;
		}

		form {
			padding: 100px 30px 50px;

			input {
				width: 100%;
				margin: 15px 30px;
			}
		}
	}
}

@media screen and (min-width: 481px) {
	form {
		position: absolute;
		top: 50vh;
		margin-left: 20px;
		margin-right: 20px;
		transform: translateY(-50%);
		padding: 100px 50px 30px;

		input {
			margin: auto 30px auto 30px;
		}

		background-color: #e6e6e6;

		input {
			width: 60%;
			margin: 15px 0;
		}
	}
}
